
.box {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    margin: 20px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.box:hover {
    /* Escalar */
    transform: scale(1.5);
}

.box.rotate:hover {
    /* Rotar */
    transform: rotate(90deg);
}

.box.translate:hover {
    /* Mover */
    transform: translate(20px, 20px);
}

.box.skew:hover {
    /* Inclinar */
    transform: skew(20deg, 10deg);
}

.box.perspective:hover {
    /* Aplicar perspectiva */
    transform: perspective(500px) rotateY(45deg);
}
